body {
    font-family: Arial, sans-serif;
    --default-font-size: 20px;
    font-size: var(--default-font-size);
}

#container {
    width: 400px;
}

.todo-item {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    cursor: move;
}

.todo-item.dragging {
    opacity: 0.5;
    background-color: #fafafa;
    border-color: #ccc;
}

.todo-text {
    width: auto;
    padding-right: calc(var(--default-font-size)/2);
    padding-left: calc(var(--default-font-size)/4);
    margin-left: var(--default-font-size);
    margin-right: var(--default-font-size);
    word-break: break-word;
    hyphens: auto;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.checked {
    text-decoration: line-through;
    color: #888;
}
#completeList {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}
#completeList .todo-item {
    background-color: #d5e3d5;
    border: 1px solid #ddd;
    cursor: default;
}

.new-todo {
    background-color: #d7f2ff;
    border: 1px solid #4fc3f7;
    /* make text opacity 0.7 and italicize */
    font-style: italic;
    color: #707070;
    cursor: text;
}

#addNewTodo { 
    background-color: #b3e5fc; 
    border: 1px solid #4fc3f7; 
    padding: 10px; 
    margin-bottom: 5px; 
    cursor:pointer; 
    user-select: none; /* Prevent text selection */ 
}

.trashcan { padding: 10px; 
    background-color: #ff5f3f; 
    border: 1px solid #000; 
    text-align: center; 
    margin-top: 20px; 
    user-select: none; 
    color: #ffffff;
}

#listContainer { 
    max-height: 60vh;
    overflow-y: scroll;
 }

 #completeList {
    max-height: 20vh;
    overflow-y: scroll;
 }

#scrollIndicatorContainer {
    justify-content: center;
    align-items: center;
    height: 100%;
}

#scrollIndicator {
    font-style: italic;
    color: #707070;
}